<app-navbar></app-navbar>

<!-- Contact Page Hero Section with black background -->
<section
  class="relative bg-black text-white min-h-screen flex items-center justify-center sharp"
>

  <div class="container mx-auto px-4 py-32 animate-fade-in">

        <h2 class="text-7xl md:text-9xl font-bold text-center mb-12 text-white">
      MEET OUR TEAM
    </h2>

    <div
      class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-6"
    >
      <ng-container *ngIf="teamMembers; else loading">
        <app-contact-card
          *ngFor="let member of teamMembers"
          [name]="member.name"
          [position]="member.position || ''"
          [email]="member.email || ''"
          [phone]="member.phone || ''"
          [linkedin]="member.linkedin || ''"
          [image]="member.profile_pic || ''"
        >
        </app-contact-card>
      </ng-container>
      <ng-template #loading>
        <div class="col-span-full flex justify-center items-center">
          <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-white"></div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
<app-footer></app-footer>
