  <app-navbar [forceDarkBg]="true"></app-navbar>


<!-- <section class="py-16 section-light sharp"> -->
<section
  class="relative bg-white text-black min-h-screen flex items-center justify-center overflow-hidden sharp"
>
  <div class="container mx-auto px-4 py-32 animate-fade-in">
    <h2 class="text-7xl md:text-9xl font-bold text-center mb-12 text-black">
      PAST EUREKA! WINNERS
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-8"
    >
      <app-startup-card
        *ngFor="let startup of startups"
        [startup]="startup"
      ></app-startup-card>
    </div>
  </div>
</section>

<app-footer></app-footer>
